html{
    font-size: 10px;
    line-height: 1.5;
}

*{
    box-sizing: border-box;
    list-style: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body{
    width: 100vw;
    font-size: 1.5rem;
    color: #333;
}

.contentWrap{
    background: url('bg.png') no-repeat 0 0 ;
    background-size: 100vw 100vh;
}

section{
    height: 100vh;
    width: 80%;
    margin: 0 auto;
    padding: 6rem 0;
}

h2{
    text-align: center;
    letter-spacing: 0.1rem;
}

.bar2{
    width: 3rem;
    height: 0.2rem;
    background-color: #333;
    margin: 3rem auto 6rem;
}

.mobile{
    display: none;
}


/* 여기서부터 헤더 */
header{
    position: relative;
    color: #6491F8;
    text-align: right;
}

nav{
    position: fixed;
    right: 2rem;
    bottom:35vh;
    letter-spacing: 0.1rem;
}

nav a{color: #6491f8;}

nav ul{
    font-size: 1.7rem;
    background: rgba(226, 235, 254, 0.7);
    padding: 2rem 1rem;
    border-radius: 50px;
}

nav ul li{margin-bottom: 3rem;}

nav ul li:last-child{
    margin-bottom: 0;
}

nav ul li:hover{cursor: pointer;}
/* 여기서까지 헤더 */


/* 여기서부터 intro */
#intro{
    height: 100vh;
    color: #fff;    
}

#intro h1{
    text-align: left;
    font-size: 5rem;
    padding-top: 15vh;
}

.bar{
    width: 20rem;
    height: 0.3rem;
    background-color: #fff;
    margin: 4.5em 0;
}

#intro p{font-size: 1.7rem;}
/* 여기까지 intro */


/* 여기서부터 about */

#about article{
    display: flex;
    justify-content: space-between;
}

.profile{
    text-align: center;
}

.profile img{padding-left: 2rem;}

.profile p{
    font-size: 1.7rem;
    font-weight: 500;
    margin: 3rem 0 ;
}

.profile a{
    color: #6491f8;
    border: 2px solid #6491f8;
    border-radius: 50px;
    display: inline-block;
    width: 10rem;
    padding: 0.7rem;
    
}

.profile a:hover{
    background-color: #e2ebfe;
}

.QA{
    margin-left: 6rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.QA dl{
    background-color: #E2EBFE;
    padding: 2rem;
    width: 30.5%;
    border-radius: 5px;
}

.QA dl dt{
    margin-bottom: 0.5rem;
}

table th{
    vertical-align: top;
    font-weight: 400;
}

.mb_3{margin-bottom: 3.5rem;}
/* 여기까지 about */


/* 여기부터 contact */
.bgWrap{background-color: #E2EBFE;}

#contact{
    text-align: center;
}

fieldset{
    border: none;
    display: inline-block;
    width: 30%;
}

.name{margin-right: 2%;}

label{
    margin-bottom: 1rem;
    display: block;
    text-align: left; 
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
}

input{
    width: 100%;
    padding: 2rem;
    border: none;
    border-radius: 5px;
}

.message{
    display: block;
    width: 62.5%;
    margin: 3rem auto 5rem;
}

textarea{
    width: 100%;
    padding: 2rem;
    border: none;
    border-radius: 5px;
    resize: none;
}

button{
    background-color: #E2EBFE;
    border: 2px solid #6491F8;
    border-radius: 50px;
    color: #6491F8;
    width: 13%;
    padding: 1rem 0;
    letter-spacing: 0.1rem;
    margin-bottom: 5rem;
}
/* 여기까지 contact */





/* 태블릿 */
@media only screen and (min-width: 768px) and (max-width: 1180px){
    .mobile{display: block;}

    nav{bottom:2vh;}

    nav ul li{margin-bottom: 1rem;}
    
    section{
        width: 70%;
        padding: 6rem 0;
    }

    #about{height: auto;}

    #about article{
        justify-content: center;
        flex-direction: column;
    }

    .profile p{font-size: 2rem;}
    
    .QA{
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        margin: 5rem 0;
    }

    .QA dl{
        width: 100%;
        margin-left: 0;
        font-size: 2rem;
    }
    
    .mb3{margin-bottom: 3.5rem;}

    #contact{height: auto;}

    fieldset{
        border: none;
        display: block;
        width: 100%;
    }

    .name{margin-bottom: 3rem;}

    .message{
        width: 100%;
        margin: 3rem auto 5rem;
    }

    button{width: 70%;}
}
/* 태블릿 */



/* 모바일 */
@media only screen and (max-width: 767px){
    
    .mobile{display: block;}

    nav{
        bottom:2vh;
        right: 0.5rem;
    }

    nav ul li{
        margin-bottom: 1rem;
        font-size: 1rem;
    }
    
    section{
        width: 70%;
        padding: 6rem 0;
    }

    #intro h1{
        font-size: 3rem;
    }

    .bar{
        width: 10rem;
        height: 0.1rem;
    }

    #about{height: auto;}

    #about article{
        justify-content: center;
        flex-direction: column;
    }

    .profile p{font-size: 1.5rem;}
    
    .QA{
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        margin: 5rem 0;
    }

    .QA dl{
        width: 100%;
        margin-left: 0;
        font-size: 1.2rem;
    }

    .mb_3{margin-bottom: 1rem;}
    
    .mb3{margin-bottom: 1rem;}

    #contact{height: auto;}

    fieldset{
        border: none;
        display: block;
        width: 100%;
    }

    .name{
        margin-bottom: 2rem;
    }

    .message{
        width: 100%;
        margin: 2rem auto 5rem;
    }

    button{width: 70%;}
}
/* 모바일 */